* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1280px;
}


/* shareable css */

.style-share {
    width: 80%;
    margin: 30px auto;
    display: block;
}

span {
    color: #F00;
}


/* section style */

.banner {

    background-image: url('../images/BannerImage.png');
    /* height: 80vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 30px auto;

}

.banner-contain {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.banner-text {
    max-width: 400px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 22px;
    font-weight: 400;
    padding-top: 150px;
    margin: 0 auto;

}

.banner-title {
    max-width: 400px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 52px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 150px;
    margin: 0 auto;
}

/* Main Section Style */


.container-offer {
    width: 60%;
    margin: 30px auto;
    text-align: center;

}

.offer-gives {
    color: #F00;
    font-family: Inter;
    font-size: 62px;
    font-weight: 700;
    padding-top: 80px;
}

.offer-deals {
    color: #F00;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 0 10px 0;
}

.offer-category {
    color: #070211;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 35px;
}

.container-offer>img {
    align-items: center;
    background-size: cover;
    height: 300px;
    width: 500px;
    margin-bottom: 30px;
}

/* party section */

.banner-party {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}


.banner-style {
    display: flex;
    justify-content: space-around;

}

.banner-color {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.container-party {
    max-width: 700px;
    margin-left: 100px;
    text-align: left;
}

.container-party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 52px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 3px;
    margin-top: 100px;
    padding: 5px 25px 5px 0;
}

.container-details {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0 15px 0;
    margin-bottom: 20px;
}

.container-party>a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px 0 20px 30px;
    text-decoration: none;
    margin-bottom: 70px;
}



.content-party-img {
    width: 400px;
    padding: 60px 80px 60px 30px;

}

.party-img {
    width: 230px;
    height: 350px;
    background-size: cover;
}


.meeting {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    border-radius: 16px;
    margin-top: 100px;
}

.content-meeting-place {
    padding: 100px 280px 50px 280px;
}

.content-meeting {
    font-size: 22px;
    font-family: Inter;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.content-meeting-place>button {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 12px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* offer section */

.offer-section {
    display: flex;
    background: #FFF;
    margin: 50px 0;
    /* justify-content: space-evenly; */
}


.contain-offer {
    width: 30%;
    text-align: left;
    margin: auto;

}

.best-offer {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
}

.offer-come {
    color: #070211;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px 0;
}

.offer-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0;
}

.offer-img {
    /* width: 45%; */
    border-radius: 453px;
    border: 12px solid #F00;
    padding: 30px;
}

.offer-img-group {
    height: 250px;
    width: 250px;
    background-size: cover;

}



.offer-new-year {
    width: 20%;
    text-align: left;
    margin: auto;
    padding-left: 50px;

}

.offer-year {
    color: #F00;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    padding: 10px 0;
}

.offer-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0;
}

.img-year {
    pad: 40px 0;
    height: 100px;
    width: 100px;
    background-size: cover;
}

/* Holiday Sale Section */

.contain-holiday {
    padding: 70px 126px 0 126px;
    text-align: center;
}

.holiday-function {
    color: #070211;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 0;
}

.holiday-sale>span {
    text-align: center;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    padding: 10px 0;
}

.holiday-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    padding: 10px 0;
}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 20px 40px 20px;
    margin: 0 80px;
}

.holiday-image-section {}

.holiday-img {
    background-image: url('../images/Rectangle2.png'), url('/images/Rectangle1.png');
    background-position: bottom, top right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    border-radius: 16px 0px 16px 16px;
}

.img-box {
    width: 600px;
    height: 400px;
    padding-left: 150px;
    margin: auto;
    padding-top: 50px;
}

.img-discount {
    width: 200px;
    height: 200px;
    padding-right: 450px;
    padding-top: 120px;
    margin-bottom: 330px;
    /* z-index: 1; */
}


/* Product section */

.product-best {
    text-align: left;
    padding-right: 300px;
    padding-top: 80px;
}

.product-offer {
    color: #F00;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 0;
}

.product-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px 0;
}

.product-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 0;
}

.product-demo {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.product-style {
    margin-bottom: 80px;
}

.product-img {
    height: 380px;
    width: 320px;
    border-radius: 16px;
}

.product-img:hover {
    border: 3px solid green;
}

/* Subscribe Section */

.contain-subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin: auto;
    padding: 80px 140px;

}

.Subscribe-img {
    width: 100px;
    height: 100px;
    padding: 10px 0;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px 0;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 0 20px 0;
}



.subscribe-email {
    padding: 8px 15px;
    margin-right: -12px;
    font-size: 14px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: 0;
}

.subscribe-button {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 9px 15px;
    border: 0;
}


/* Footer Section */

footer{
    background-color: #070211;;
}


.container-address{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
}

.physical{
    width: 60%;
    padding: 80px 0px;
    text-align: left;
}

.address-bar{
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 14px;
padding: 0 200px 0 0;
line-height: 20px;
}

.contact-virtual{
    width: 40%;
    /* margin: auto; */
    padding-left: 200px;
    /* margin-left: 150px; */
}

.phone-contact{
    display: flex;
    align-items: center;
    
    
}
.contact-img{
    height: 14px;
    width: 14px;
    padding: 5px 0 3px 3px;
}

.contact-text{
    color: #FFF;
font-family: Inter;
font-size: 13px;
font-weight: 400;
padding: 5px 0 3px 3px;
}


.contact-img-class{
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 10px 0 30px;
}

.social-img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

hr{
    background: rgba(255, 255, 255, 0.15);
    height: 0.3px;
}

.contant-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 100px 0;
}

.contact-all{
    color: #FFF;
font-family: Inter;
font-size: 13px;
font-weight: 400;
text-decoration: none;
}